/samana2/nbproject/private/
/Calculadora/build/
/Calculadora/nbproject/private/
/samana2/build/
/semana3/nbproject/private/
/semana3/build/
/Practica 4/nbproject/private/
/Practica 4/build/
/semana4/nbproject/private/
/semana4.1/nbproject/private/
/Semana4-1/nbproject/private/
/Clase4_2/nbproject/private/
/Poryecto/nbproject/private/
/Trabajo semana5/nbproject/private/
/Trabajo semana5/build/
/JavaApplication21/nbproject/private/
/Poryecto/build/
/Poyecto1/nbproject/private/
/Clase6/nbproject/private/
/Clase6/build
/Clase_6/nbproject/private/
/Semana6/nbproject/private/
/Semana6/build/
/Trabajo_semana_5/nbproject/private/
/Trabajo_semana_5/build/
/Apartado_restaurante/nbproject/private/
/Apartado_restaurante/build/
/Crud/nbproject/private/
/ejercicios_semana11/nbproject/private/
